<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="header">
        <div>
          <a href="/" class="title"><%= title %></a>
        </div>
        
        <ul>
          <li><a href="/" class="btn2">home</a></li>
          <li><a href="about" class="btn2">about</a></li>
          <li><a href="#" class="btn2">portfolio</a></li>
          <li><a href="#" class="btn2">blog</a></li>
        </ul>
    </div>
    
    <div class="main-image">
      <div class="self-introduce slide-left">
        <p style="font-size: 200%;">サイト主</p>
        <p style="font-size: 350%;">若月祐樹</p>
        <br>
        <p style="font-size: 150%;">ARエンジニアになりたい大学生<br>Web技術も触り始めた<br>パワポ作るのが得意</p>
        <br>
        <ul class="follow-me">
          <li><a href="https://twitter.com/wakachanjunior" target="_blank"></a></li>
          <li><a href="https://www.facebook.com/yuuki.wakatsuki.16" target="_blank"></a></li>
        </ul>
        
      </div>
      <img src="images/IMG_1717.JPG" alt="自分の写真" id="profile">
    </div>

    
  </body>
</html>
