<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="header">
        <div>
          <a href="#" class="title"><%= title %></a>
        </div>
        
        <ul>
          <li><a href="/" class="btn2">home</a></li>
          <li><a href="about" class="btn2">about</a></li>
          <li><a href="#" class="btn2">portfolio</a></li>
          <li><a href="#" class="btn2">blog</a></li>
        </ul>
    </div>
    
    <div class="blog-about">
      <h2>-----blog-----</h2>
    </div>
    <div class="portfolio-about">
      <h2>----portforio----</h2>
    </div>

    
  </body>
</html>
